RK_YOCTO_CFG="rockchip-rk3568-evb"
RK_KERNEL_DTS_NAME="tspi-rk3566-user-v10-linux"
RK_USE_FIT_IMG=y
RK_WIFIBT_TTY="ttyS8"
RK_PARAMETER="parameter-distroboot.txt"
RK_CHIP_FAMILY="rk3566"
RK_ROOTFS_SYSTEM_UBUNTU=y
RK_UBOOT_CFG_FRAGMENTS="rockchip-distroboot"
RK_KERNEL_CFG_FRAGMENTS="rockchip_linux_docker.config"
RK_KERNEL_DISTROBOOT=y
RK_PACKAGE_FILE="rk356x-package-file-distroboot"
RK_MISC_IMG="blank-misc.img"
