RK_YOCTO_CFG="rockchip-rk3568-evb"
RK_KERNEL_DTS_NAME="tspi-rk3566-user-v10-linux"
RK_USE_FIT_IMG=y
RK_WIFIBT_TTY="ttyS1"
RK_PARAMETER="parameter-buildroot-fit.txt"
RK_CHIP_FAMILY="rk3566"
RK_ROOTFS_SYSTEM_UBUNTU=y
RK_KERNEL_CFG_FRAGMENTS="rockchip_linux_docker.config"
RK_MISC_IMG="blank-misc.img"
