/output
/dl
/download
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
linux/Linux_Pack_Firmware/rockdev/mkupdate.sh
linux/Linux_Pack_Firmware/rockdev/package-file
windows/RKDevTool/RKDevTool_Release/config.cfg
windows/RKDevTool/rockdev/mkupdate.bat
windows/RKDevTool/rockdev/package-file
linux/Linux_Pack_Firmware/rockdev/update.img
linux/Linux_Upgrade_Tool/Linux_Upgrade_Tool/log
windows/RKDevTool/RKDevTool_Release/Log
